.main-confirm-container {
    width:100vw;
    min-height:calc(100vh - 160px);
    background:url('../media/hero.jpg');
    background-size: cover;
}

.orders {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top:150px;
    h2 {
        text-align: center;
        position: relative;
        top:-50px;
        color: white;
    }
    &__wrapper {
        height: auto;
        min-height:200px;
        display: flex;
        flex-direction: column;
        align-self: center;
        background: white;
        border-radius: 10px;
        width: 40vw;
    }

    &__item {
        width:100%;
        display: grid;
        height:min-content;
        grid-template-columns: 0.5fr 1fr 1fr;
        border-bottom: 1px solid gray;
        &-image {
            display: flex;
            justify-self: center;
            padding: 20px;
            img {
                width: 200px;
            }
        }
        &-info {
         align-self: center;
        }
        &-right {
            align-self: center;
            justify-self: flex-end;
            position: relative;
            left: -40px;
        }
    }
}