.footer-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:100px;
    width: 100%;
    background:black;
    color:white;

    &__info {
        h4, p {
            font-family: 'Poppins',sans-serif;  
        }

    }
    &__logo {}
}