.footer-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:60px;
    width: 100%;
    background:black;
    color:white;
    padding-top:10px;
  
    &__info {

        font-family: 'QuickSand',sans-serif;
    }
    &__logo {}
}