.page-header {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  &--small {
    height: 80px;
  }

  &--full {
    height: 100vh;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    font-family: $logo-font;
    color: rgb(78, 78, 78);
    letter-spacing: 4px;

    @media (max-width: 760px) {
      order: 1;
      transform: none;
      position: relative;
      left: 15px;
      font-size: 20px;
    }
}
  

  &__top {
    display: inherit;
    position: block;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: row;
    height: 80px;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(212, 161, 30, 0.609);
    transition: 200ms ease-in;
    nav {
      order: 2;
      ul {
        display: flex;
        min-width: 300px;
        list-style-type: none;
        justify-content: space-evenly;

        @media (max-width: 760px) {
          min-width: 140px;
          font-size: 12px;
          justify-self: center;
          align-self: center;
          position: relative;
          left: 15%;
          top:5px;
          
        }

        li {
          display: inline;
        //  padding-bottom: 1vh;
          border-bottom: 3px solid transparent;

          &:hover {
            border-bottom: 3px solid goldenrod;
          }
          a {
            font-family: $menu-font-fam;
            color: black;
            font-weight: 500;
            text-decoration: none;
          }
        }
      }
    }

    &-cart {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 40px;

      @media (max-width: 760px) {
       right: 20px;
      }
    }
  }

  &__hero {
    display: inherit;
    width: 100vw;
    background-image: url(../media/hero.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 74vh;

    @media (max-width: 600px) {
      background-size: auto;
    }

    &-header {
      color: white;
      font-family: $header-font;
      font-size: 38px;
      position: absolute;
      left: 15%;
      transform: translateX(15%);
      top: 25vh;

      @media (max-width: 600px) {

        left: 0;
        width: 80%;
        text-align: center;
        font-size: 28px;
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-self: center;

    @media (max-width: 600px) {
      width: 70vw;
      padding-top: 5vh;
      padding-bottom: 5vh;
      h3, p {
        font-size: 80%;
      }
    }
    h3,
    p {
      font-family: $product-font;
      color: $main-h-color;
      text-align: center;
    }

    p {
      padding-top: 20px;
      line-height: 180%;
      letter-spacing: normal;
    }
  }
}

#cart-link {
  background-image: url("../media/Cart.png");
  width: 30px;
  height: 30px;
  justify-self: center;
  align-self: end;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid goldenrod;
  }
}

#cart-count {
  font-family: $menu-font-fam;
  font-size: 16px;
  font-weight: bold;
  color: goldenrod;
}


.fixed {
  position: fixed !important;
  transition: 200ms ease-in;
  //top:70px !important;
  z-index: 10000;
}
