.page-header {
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  &--small {
    height: 80px;
  }

  &--full {
    height: 100vh;
  }

  &__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    font-family: $logo-font;
    color: rgb(78, 78, 78);
    letter-spacing: 4px;
  }

  &__top {
    display: inherit;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    flex-direction: row;
    height: 80px;
    align-items: center;
    z-index: 10;
    border-bottom: 1px solid rgba(212, 161, 30, 0.609);

    nav {
      ul {
        display: flex;
        min-width: 300px;
        width: min-content;
        list-style-type: none;
        justify-content: space-evenly;

        @media (min-width: 760px) {
          min-width: 500px;
        }

        li {
          display: inline;
          padding-bottom: 5px;
          border-bottom: 3px solid transparent;

          /*This is the cart icon*/
          &:nth-last-child(2) {
            position: absolute;
            right: 80px;

            &:hover {
              border-bottom: none;
            }
          }

          /*This is the cart counter*/
          &:last-child {
            position: absolute;
            width: 20px;
            right: 50px;
            top: 32px;

            &:hover {
              border-bottom: none;
            }
          }

          // &:last-child {
          //   position: absolute;
          //   right: 50px;
          // }

          &:hover {
            border-bottom: 3px solid goldenrod;
          }
          a {
            font-family: $menu-font-fam;
            color: black;
            font-weight: 500;
            text-decoration: none;
          }
        }
      }
    }
  }

  &__hero {
    display: inherit;
    width: 100vw;
    background-image: url(../media/hero.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 74vh;

    @media (max-width: 600px) {
      background-size: auto;
    }

    &-header {
      color: white;
      font-family: $header-font;
      font-size: 38px;
      position: absolute;
      left: 15%;
      transform: translateX(15%);
      top: 250px;

      @media (max-width: 600px) {
        left: 0;
        width: 80%;
        text-align: center;
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    width: 60vw;
    align-self: center;

    @media (max-width: 600px) {
      width: 90vw;
    }
    h3,
    p {
      font-family: $product-font;
      color: $main-h-color;
      text-align: center;
    }

    p {
      padding-top: 20px;
      line-height: 180%;
      letter-spacing: normal;
    }
  }
}

#cart-link {
  background-image: url("../media/Cart.png");
  width: 30px;
  height: 30px;
  justify-self: center;
  align-self: end;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;

  &:hover {
    cursor: pointer;
    border-bottom: 3px solid goldenrod;
  }
}

#cart-count {
  font-family: $menu-font-fam;
  font-size: 16px;
  font-weight: bold;
  color: goldenrod;
}
