.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:#E6E6E6;
    width: 100vw;
    align-items: center;
    h2{
        text-align: center;
    }
}
.product-section {
    display: inherit;
    flex-direction: column;
    align-items: center;
    &__header {
        text-align:center;
        padding:50px;  
        color:rgb(56, 55, 55); 
    }
    .products {
    display: inherit;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &::before {
        content:'';
        width: 100%;
        margin-bottom: 40px;
        border-bottom: 1px solid rgb(121, 118, 118);
    }
    &__item {
        display: inherit;
        flex-direction: column;
        background:white;
        width: 400px;
        border-radius: 15px;
        padding:20px;
        margin:20px;
        box-shadow: 2px 2px 5px rgb(146, 146, 146);
        padding:30px;

        
        &-img {
            width: 180px;
            align-self: center;
            padding-bottom: 40px;
        }

        &-info {
            display: inherit;
            flex-direction: column;
            padding-bottom: 40px;
         
           &-price {
                font-family: $product-font;
                color:black;
                font-weight: bold;
                font-size: 34px;
            }

            &::before {
                content:'';
                width: 100%;
                border-bottom: 1px solid rgb(139, 139, 139);
                position: relative;
                top:-10px;
            }
            &::after {
                content:'';
                width: 100%;
                border-bottom: 1px solid rgb(139, 139, 139);
                position: relative;
                top: 10px;
            }
        }
        &-info-bottom {
            display: inherit;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: flex-end;
            p {font-family: $product-font;
                font-size: 14px;}
            
        }
    }
}
}

.btn {

    content:url(../media/add-btn.png);
    height:40px;
    &:hover {
        opacity: 0.8;
    }
}

.products-quantity-input {
    width: 40px;
    outline: none;

}