.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:#E6E6E6;
    width: 100vw;
    align-items: center;
    h2{
        text-align: center;
    }
}
.product-section {
    display: inherit;
    flex-direction: column;
    align-items: center;
    &__header {
        text-align:center;
        padding:50px;   
    }
    .products {
    display: inherit;
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__item {
        display: inherit;
        flex-direction: column;
        background:white;
        width: 400px;
        border-radius: 15px;
        padding:20px;
        margin:20px;

        &-img {
            width: 230px;
            align-self: center;
        }

        &-info {
            display: inherit;
            flex-direction: column;
        }
        &-info-bottom {
            display: inherit;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }
}
}