@import url("https://fonts.googleapis.com/css?family=Anton|Open+Sans|Poppins:500|Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Pacifico', sans-serif;
}

h3 {
  font-size: 28px;
}

h2,
h3,
h4,
h5 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: normal;
  font-size: 24px;
  color: #727272;
}

h3 {
  font-size: 28px;
}

p {
  font-family: "OpenSans", sans-serif;
}

input {
  color: #8d6b15;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  outline: none;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border: none;
  border-bottom: 1px solid #727272;
}

.main-confirm-container {
  width: 100vw;
  min-height: calc(100vh - 160px);
  background: url("../media/hero_trans.png");
  background-blend-mode: lighten;
  background-size: cover;
}

.orders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
}

.orders h2 {
  text-align: center;
  position: relative;
  top: -50px;
  font-size: 32px;
  color: white;
  font-family: "Roboto Slab", sans-serif;
}

.orders__wrapper {
  height: auto;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  background: white;
  border-radius: 10px;
  max-width: 700px;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  border: 1px solid transparent;
}

.orders__wrapper:hover {
  -webkit-transform: rotate3d(1, 1, 1, 1deg);
          transform: rotate3d(1, 1, 1, 1deg);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  border: 1px solid rgba(212, 161, 30, 0.609);
  cursor: pointer;
}

@media (max-width: 800px) {
  .orders__wrapper {
    width: 100vw;
    border-radius: 0;
  }
}

.orders__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-family: 'Quicksand', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}

.orders__bottom-sum {
  width: 70%;
  padding-left: 20px;
}

.orders__bottom-sum-text {
  font-weight: bold;
  font-family: "Roboto Slab", sans-serif;
  font-size: 26px;
  text-align: center;
  width: 100%;
}

.orders__bottom-pay {
  padding-right: 20px;
}

.orders__item {
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -ms-grid-columns: 0.5fr 1fr 0.6fr;
      grid-template-columns: 0.5fr 1fr 0.6fr;
  padding: 20px;
}

.orders__item::after {
  content: '';
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  border-bottom: 1px solid rgba(228, 176, 80, 0.561);
}

.orders__item-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  padding: 20px;
}

.orders__item-image img {
  width: 110px;
}

@media (max-width: 760px) {
  .orders__item-image img {
    width: 70px;
  }
}

.orders__item-info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.orders__item-info p {
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  font-size: 14px;
}

.orders__item-info-header {
  color: white;
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  font-size: 26px;
  font-weight: normal;
}

@media (max-width: 800px) {
  .orders__item-info-header {
    font-size: 16px;
  }
}

.orders__item-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
  position: relative;
  left: -2vw;
}

.orders__item-right h4 {
  color: black;
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .orders__item-right h4 {
    font-size: 22px;
  }
}

.orders__item-right p {
  font-family: "Roboto Slab", sans-serif;
}

.page-header {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.page-header--small {
  height: 80px;
}

.page-header .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid gold;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  -webkit-transition: height 500ms;
  transition: height 500ms;
}

@media (max-width: 1000px) {
  .page-header .nav_bar {
    height: 120px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-header .nav_bar--notrans {
  background: white;
}

.page-header .nav_bar_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  justify-self: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1000px) {
  .page-header .nav_bar_navigation {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.page-header .nav_bar_navigation_btn {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.page-header .nav_bar_navigation_btn:hover {
  border-bottom: 3px solid goldenrod;
}

.page-header .nav_bar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Pacifico", sans-serif;
  color: #4e4e4e;
  letter-spacing: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1000px) {
  .page-header .nav_bar_logo {
    position: absolute;
    top: 20px;
  }
}

.page-header .nav_bar_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1000px) {
  .page-header .nav_bar_cart {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .page-header .nav_bar_cart {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    margin-bottom: 15px;
    margin-right: 25px;
  }
}

.page-header .nav_bar_cart_btn {
  background-image: url("../media/Cart.png");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  border-bottom: 3px solid transparent;
}

.page-header .nav_bar_cart_btn:hover {
  cursor: pointer;
  border-bottom: 3px solid goldenrod;
}

.page-header .nav_bar_cart #nav_bar_cart_count {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: goldenrod;
}

.page-header .nav_bar-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  right: 40px;
}

@media (max-width: 760px) {
  .page-header .nav_bar-cart {
    right: 20px;
  }
}

.page-header__hero {
  display: inherit;
  background-image: url(../media/hero.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  min-height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.page-header__hero-header {
  color: white;
  font-family: "Roboto Slab", sans-serif;
  font-size: 38px;
  position: absolute;
  left: 15%;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
  top: 25vh;
}

@media (max-width: 1200px) {
  .page-header__hero-header {
    left: 0;
    width: 80%;
    top: 35vh;
    text-align: center;
    font-size: 28px;
  }
}

.page-header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60vw;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 6vh;
}

@media (max-width: 1000px) {
  .page-header__about {
    margin-top: 4vh;
    width: 90vw;
  }
}

.page-header__about h3,
.page-header__about p {
  font-family: "Roboto Slab", sans-serif;
  color: #383737;
  text-align: center;
}

@media (max-width: 1000px) {
  .page-header__about h3,
  .page-header__about p {
    font-size: 80%;
  }
}

.page-header__about p {
  padding-top: 20px;
  line-height: 180%;
  letter-spacing: normal;
}

.cart-menu {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  /* Stay on top */
  top: 80px;
  /* Stay at the top */
  right: 0;
  background-color: white;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 30px;
  /* Place content 60px from the top */
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

@media (max-width: 1000px) {
  .cart-menu {
    top: 120px;
    height: calc(100% - 120px);
    z-index: 11;
  }
}

@media (max-width: 600px) {
  .cart-menu {
    top: 0;
    height: 100%;
    z-index: 11;
  }
}

.cart-menu .checkout {
  width: 100%;
  height: 50px;
  outline: none;
  color: black;
  background: white;
  border: 0;
  position: absolute;
  bottom: 80px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.cart-menu .checkout:hover {
  background: #b39b5e;
  color: white;
}

@media (max-width: 1000px) {
  .cart-menu .checkout {
    bottom: 0;
  }
}

@media (max-width: 600px) {
  .cart-menu .checkout {
    bottom: 0;
  }
}

.cart-menu .cart_remove_all {
  width: 100%;
  height: 45px;
  color: black;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background: white;
  border: 0;
  position: absolute;
  bottom: 130px;
  outline: none;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.178);
}

.cart-menu .cart_remove_all:hover {
  background: #8a5252;
  color: white;
}

@media (max-width: 1000px) {
  .cart-menu .cart_remove_all {
    bottom: 50px;
  }
}

.cart-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.cart-menu-header {
  padding-bottom: 30px;
  font-size: 30px;
}

.cart-line {
  display: block;
  height: 1px;
  width: 100%;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0;
  color: black;
}

/* The navigation menu links */
.cart-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.cart-menu a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.cart-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 600px) {
  .cart-menu .closebtn {
    margin-right: 20px;
  }
}

.cart-menu .closebtn:hover {
  cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.cart_list_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  overflow: auto;
  max-height: 75%;
}

@media (max-width: 600px) {
  .cart_list_container {
    margin-right: 3%;
  }
}

.cart_product_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(228, 176, 80, 0.561);
  padding: 60px 0 60px 0;
  display: none;
}

.cart_product_container:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.178);
}

.cart_product_image {
  position: relative;
}

.cart_productinfo_container {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  -ms-grid-rows: 30px 20px 30px;
      grid-template-rows: 30px 20px 30px;
}

.cart_product_name {
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  font-weight: normal;
  grid-column: span 3;
  justify-self: flex-end;
  font-size: 1em;
  position: relative;
  top: 5px;
}

@media (max-width: 760px) {
  .cart_product_name {
    font-size: 0.7em;
  }
}

.cart_product_art-container {
  grid-column: span 3;
  justify-self: flex-end;
  font-size: 0.8em;
  -ms-flex-item-align: start;
      align-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart_product_artNr_text {
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 0.8em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.cart_product_artNr {
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  grid-column: span 2;
  -ms-grid-column-align: start;
      justify-self: start;
  font-size: 0.8em;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.cart_product_quantity {
  width: 40px;
  height: 25px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-align: center;
}

.cart_product_price {
  font-family: "Roboto Slab", sans-serif;
  color: #2f2f2f;
  font-size: 1.2em;
  font-weight: bold;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.cart_product_remove {
  width: 20px;
  height: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background-image: url("../media/Trashcan.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
}

.cart_product_remove:hover {
  cursor: pointer;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E6E6E6;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container h2 {
  text-align: center;
}

.product-section {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.product-section__header {
  text-align: center;
  padding: 80px;
  color: #383737;
}

.product-section__header h3 {
  font-family: "Roboto Slab", sans-serif;
}

.product-section .products {
  display: inherit;
  width: 70%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7vh;
}

@media (max-width: 760px) {
  .product-section .products {
    width: 100%;
  }
}

.product-section .products::before {
  content: '';
  width: 100%;
  margin-bottom: 40px;
  border-bottom: 1px solid #797676;
}

.product-section .products__item {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: 400px;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 5px #929292;
          box-shadow: 2px 2px 5px #929292;
  padding: 30px;
  -webkit-transform: rotate3d(1, 1, 1, 0deg);
          transform: rotate3d(1, 1, 1, 0deg);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  border: 1px solid transparent;
}

.product-section .products__item:hover {
  -webkit-transform: rotate3d(1, 1, 1, 1deg);
          transform: rotate3d(1, 1, 1, 1deg);
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  border: 1px solid rgba(212, 161, 30, 0.609);
  cursor: pointer;
}

.product-section .products__item-img {
  width: 130px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.product-section .products__item-info {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 40px;
}

@media (max-width: 600px) {
  .product-section .products__item-info h4 {
    font-size: 18px;
  }
}

.product-section .products__item-info-price {
  font-family: "Roboto Slab", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 34px;
}

.product-section .products__item-info::before {
  content: '';
  width: 100%;
  border-bottom: 1px solid #8b8b8b;
  position: relative;
  top: -10px;
}

.product-section .products__item-info::after {
  content: '';
  width: 100%;
  border-bottom: 1px solid #8b8b8b;
  position: relative;
  top: 10px;
}

.product-section .products__item-info-bottom {
  display: inherit;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product-section .products__item-info-bottom label {
  font-family: "Roboto Slab", sans-serif;
  color: black;
  position: relative;
  left: 45px;
}

@media (max-width: 600px) {
  .product-section .products__item-info-bottom label {
    left: 25px;
  }
}

.product-section .products__item-info-bottom p {
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  font-size: 14px;
}

.btn {
  content: url(../media/add-btn.png);
  height: 30px;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.products-quantity-input {
  width: 30px;
}

.products-quantity-input::before {
  content: 'QT';
  width: 5%;
  font-family: "Roboto Slab", sans-serif;
  color: #727272;
  position: relative;
}

.footer-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: white;
  padding: 20px;
}

@media (max-width: 600px) {
  .footer-area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-area__info {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  left: 40px;
}

@media (max-width: 600px) {
  .footer-area__info {
    text-align: center;
    width: 70vw;
    font-size: 14px;
    left: 0;
  }
}

.footer-area__info h4, .footer-area__info p {
  font-family: 'Quicksand',sans-serif;
  width: 100%;
}

.footer-area__logo h1 {
  font-family: "Pacifico", sans-serif;
}
/*# sourceMappingURL=style.css.map */